# root hidden files
.buildpath
.project
.settings

# filetypes
*.mov
*.mp4
*.m4v
*.sql
*.zip
*.psd
*.pdf
*~

# config and specific files
include/config/config.xml

# files in cache
cache/*
logs/*
www/cache/images/*

# huh?
workflow*

