# root hidden files
.buildpath
.project
.settings

# filetypes
*.bz2
*.mov
*.mp4
*.m4v
*.pdf
*.psd
*.sql
*.zip
*~

# config and specific files
include/config/config.xml

# files in cache
cache
logs/*
www/cache/*

# huh?
workflow*

