# root hidden files
.buildpath
.project
.settings
.idea
# filetypes
*.bin
*.bz2
*.swo
*.swp
*.mov
*.mp4
*.m4v
*.pdf
*.psd
*.zip
.DS_Store
*~

# config and specific files
include/config/config.xml

# files in cache
/cache
/logs/*
/www/cache/*

# files in build
/www/build/*
!.gitkeep
/www/assets/css/bundle.css
/www/assets/cockpit/css/bundle.css
/www/assets/js/bundle.js
/www/assets/cockpit/js/bundle.js
/build/*

# huh?
workflow*

# include db migrations
!db/migrate/*.sql
!db/dump.sql
!.htaccess

vendor/*

npm-debug.log

composer.phar
composer.lock

.env

node_modules