language:
  - php

php:
  - 5.4
  - 5.5.21
#  - 5.6.7
# add this when we move to heroku

env:
  - TRAVIS=1
  
# install:

before_script:
  - mysql -e "create database IF NOT EXISTS crunchbutton_travis;" -uroot;
  - mysql -uroot crunchbutton_travis < db/dump.sql;
  - phpenv config-add travis/php.ini
  - php travis/dbmigrate.php
  - sudo apt-get clean
  - sudo apt-get update
  - sudo apt-get install apache2 pgloader
  - psql -c 'create database crunchbutton_travis;' -U root
  - mysqldump -d --lock-tables=false -u root crunchbutton_travis >> mysqldump.sql
  - mysqldump --no-create-info --skip-triggers --lock-tables=false -u root crunchbutton_travis >> mysqldump.sql
  - pgloader mysql://root@localhost:3306/crunchbutton_travis postgresql:///crunchbutton_travis
  - sudo a2enmod actions
  - sudo a2enmod rewrite
  - chmod -R 0777 ./*
  - echo "export PATH=/home/travis/.phpenv/bin:$PATH" | sudo tee -a /etc/apache2/envvars > /dev/null
  - cat travis/apache.conf | sudo tee /etc/apache2/conf.d/phpconfig > /dev/null
  - cat travis/sites.conf | sed -e "s,PATH,`pwd`/www,g" | sudo tee /etc/apache2/sites-available/default > /dev/null
  - echo 'export APACHE_ARGUMENTS="-D TRAVIS"' | sudo tee -a /etc/apache2/envvars > /dev/null
  - sudo service apache2 restart
  - npm install assert chai phantom path util events
  
#  - "export DISPLAY=:99.0"
#  - "sh -e /etc/init.d/xvfb start"
#  - sleep 3
#  - sudo rackup
#  - sleep 3


script:
  - phpunit --configuration travis/phpunit.xml --coverage-text
  - phantomjs --web-security=false --ignore-ssl-errors=yes --ssl-protocol=tlsv1 travis/phantom/run.js
  
notifications:
  webhooks: https://cockpit.la/api/travisci/build

addons:
  postgresql: "9.3"
#  sauce_connect:
#  username: "Your Sauce Labs username"
#  access_key: "Your Sauce Labs access key"