html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "Helvetica Neue", "Open Sans", "Droid Sans", "Helvetica", "Arial", sans-serif;
	font-size: 12px;
	line-height: 1.2em;
	color: #555555;
}
input , textarea{
	font-family: "Helvetica Neue", "Open Sans", "Droid Sans", "Helvetica", "Arial", sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: #d74924;
	text-decoration: underline;
}

::selection {
	background: rgba(47,154,211,.5);
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: rgba(47,154,211,.5);
	color: #fff;
	text-shadow: none;
}

input[type="submit"]:focus, input[type="button"]:focus, input[type="text"]:focus, button, :focus {
	outline : none;
}
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, button::-moz-focus-inner {
	border : 0;
}

html {
	-webkit-text-size-adjust: none;
}

* {
	-webkit-tap-highlight-color: rgba(205,69,29,.5);
}

.content {
	width: 1024px;
	margin: 0 auto;
}

body {
	background: url(/assets/images/admin/bg.jpg);
}


.admin-restaurant-panel {
	display: none;	
}

.admin-restaurant-inactive {
	text-decoration: line-through;
}

.hours-date-label {
	font-weight: bold;
}

.hours-date {
	margin-bottom: 14px;
}


.header {
	background: #fff;
}

.nav {
	background: url(/assets/images/admin/nav-web.png);
	height: 68px;
	background-size: 68px;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.35);
}

.logo-img {
	width: 299px;
	height: 37px;
	background: url(/assets/images/admin/logo-web.png) no-repeat;
	background-size: 100%;
	margin-top: 4px;
}

.nav .content {
	padding-top: 12px;
}

.body {
	margin-top: 20px;
}

.admin-content-wrapper {
	border: 1px solid #2b323b;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	padding: 12px;
	border-radius: 5px;
	background: #49525f;
	float: left;
	width: 997px;
}

.admin-tab {
	border: 1px solid #2b323b;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1), inset 0 -4px 1px rgba(0,0,0,.50);
	border-bottom: none;
	width: auto;
	padding: 10px 15px 13px 15px;
	color: #b2b5b9;
	float: left;
	margin-right: 5px;
	font-size: 15px;
	text-shadow: 1px 1px rgba(0,0,0,.3);
	font-weight: bold;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background: #3c4450;
	cursor: pointer;
	margin-bottom: -3px;
	text-decoration: none;
	width: 100px;
	text-align: center;
}

.admin-tab-active {
	background: #49525f;
	color: #fff;
	z-index: 900;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	background: #49525f -webkit-linear-gradient(top,  #586372 0%,#49525f 90%);
}
.admin-tab-active:after {
	content: "";
	background: #49525f;
	width: 130px;
	position: absolute;
	z-index: 9000;
	height: 4px;
	margin-left: -15px;
	margin-top: 23px;
}

.admin-content {
	background: #fff;
	box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
	border-radius: 3px;
	padding: 10px;
}

h1 {
	font-size: 18px;
	font-weight: bold;
	color: #404040;
}

input[type="number"], input[type="text"], textarea, .input-faker {
	border: 1px solid #c2c2c2;
	box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.1);
	padding: 5px 7px 5px 7px;
	color: #838383;
	font-size: 13px;
	border-radius: 3px;
	background: #f1f1f1;
}

.input-faker {
	margin-top: 2px;
}

.input-faker input {
	background: transparent;
	border: 0;
	border-radius: 0;
	padding: 0;
	box-shadow: none;
	margin: 0;
	float: left;
}

.input-faker-content {
	float: left;
	margin-top: 1px;
}

textarea {
	height: 2.5em;
}

.input-primary {
	width: 450px;
}

.admin-restaurant-form {
	font-size: 13px;
}

.label-primary {
	font-weight: bold;
}

.check-wrap {
	border-radius: 4px;
	width: 455px;
	margin-bottom: 5px;
	border: 4px solid #f0f0f0;
}

.content-sub .check-wrap {
	width: 280px;
}

.label-primary, .content-primary, .label-sub, .content-sub {
	padding-bottom: 12px;
}

.content-primary, .content-sub, .labcon-sub-sub {
	padding-left: 15px;
}

.check-content {
	padding: 7px;
	margin-top: 3px;
}

.check label {
	margin-left: 5px;
	cursor: pointer;
}

.check {
	background: #f0f0f0;
	padding: 3px;
}

.form-number {
	width: 100px;
}

.label-sub, .label-primary {
	vertical-align: top;
	padding-top: 8px;
}

.form-sub {
	width: 270px;
}

.action-button {
	width: 300px;
	color: #fff;
	font-size: 21px;
	font-weight: bold;
	text-shadow: 1px 1px rgba(0,0,0,.3);
	box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.35);
	border-radius: 3px;
	padding: 18px 0 18px 0;
	text-align: center;
	float: right;
	cursor: pointer;
}

.action-button-small {
	width: 160px;
	padding: 7px 0 7px 0;
	font-size: 14px;
}

.action-button.green {
	border: 1px solid #5e8c22;
	background: #a9d44e; /* Old browsers */
	background: -moz-linear-gradient(top,  #a9d44e 0%, #72b72f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9d44e), color-stop(100%,#72b72f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a9d44e 0%,#72b72f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a9d44e 0%,#72b72f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a9d44e 0%,#72b72f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a9d44e 0%,#72b72f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9d44e', endColorstr='#72b72f',GradientType=0 ); /* IE6-9 */
	box-shadow: inset 0 1px 0 rgba(255,255,255,.25), inset 0 -2px 0 rgba(0,0,0,.1);
}

.action-button.red {
	border: 1px solid #b63540;
	background: #f77087; /* Old browsers */
	background: -moz-linear-gradient(top,  #f77087 0%, #f34755 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f77087), color-stop(100%,#f34755)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f77087 0%,#f34755 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f77087 0%,#f34755 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f77087 0%,#f34755 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f77087 0%,#f34755 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f77087', endColorstr='#f34755',GradientType=0 ); /* IE6-9 */
	box-shadow: inset 0 1px 0 rgba(255,255,255,.25), inset 0 -1px 0 rgba(0,0,0,.1);
}

.blue {
	border: 1px solid #4b9cd9;
	background: #4b9cd9; /* Old browsers */
	background: -moz-linear-gradient(top,  #8cbfe5 0%, #6aabdd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8cbfe5), color-stop(100%,#6aabdd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8cbfe5 0%,#6aabdd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8cbfe5 0%,#6aabdd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8cbfe5 0%,#6aabdd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8cbfe5 0%,#6aabdd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cbfe5', endColorstr='#6aabdd',GradientType=0 ); /* IE6-9 */
	box-shadow: inset 0 1px 0 rgba(255,255,255,.25), inset 0 -1px 0 rgba(0,0,0,.1), 0 1px 0 rgba(0,0,0,.05);
}

.dish-options.blue {
	border-radius: 7px;
	padding: 2px 0 2px 0;
}

.dish-options.blue, .dish-options.blue input {
	color: #fff !important;
	text-shadow: -1px -1px 0 rgba(0,0,0,.15);
}

.divider {
	clear: both;
}

.body {
	margin-bottom: 50px;
}


.list-orders {
	font-size: 12px;
	line-height: 12px;
}

.list-order-header {
	text-decoration: underline;
}

.list-orders td, .list-orders th {
	white-space: nowrap;
	padding: 3px;
}

.list-order-item:nth-child(2n+3) {
	background: rgba(0,0,0,.1);
}

.list-orders table {
	width: 120px;
}

.list-orders ul {
	list-style-type:circle;
	margin-left: 20px;
	line-height: 14px;
}

th {
	text-align: left;
	font-weight: bold;
}

.admin-restaurant-form-sub {
	width: 100%;
}

.divider.dots {
	background: url(/assets/images/divider.gif);
	height: 1px;
	opacity: .3;
}

.order-range-all {
	white-space: nowrap;
}

.order-range-all label {
	cursor: pointer;
}

.hours-date-hour, .hours-date-label {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

.hours-date-hour input {
	width: 80px;
}

.hours-date-label, .hours-date-hours {
	float: left;
	color: #838383;
}

.hours-date-label {
	width: 90px;
	margin-top: 9px;
}

.admin-food-item {
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#e9e9e9 100%);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 3px rgba(0,0,0,.14);
	padding: 9px;
	color: #717171;
	text-shadow: 1px 1px rgba(255,255,255,1);
	font-size: 12px;
	cursor: pointer;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.admin-food-item:not(.admin-food-item-collapsed) {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.admin-food-item .food-name {
	font-weight: bold;
}

.food-drop-down {
	width: 9px;
	height: 7px;
	background: url(/assets/images/admin/arrow-down.png);
	float: right;
	margin-top: 5px;
}

.form-sub-big {
	height: 3.8em;
}

.admin-food-item-content {
	background: #f7f7f7;
	border: 1px solid #d9d9d9;
	border-top: none;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,.14);
}

.admin-food-item-wrap {
	margin-bottom: 6px;
}

.admin-food-item-wrap:last-child {
	margin-bottom: 0;
}

.admin-food-item-content-padding {
	padding: 10px;
}

.dish-price {
	width: 85px;
	float: right;
}

.dish-price input {
	width: 65px;
	margin-left: .5em;
}

.dish-name {
	width: 280px;
	float: left;
}

.dish-description {
	margin: 10px 0 0 0;
	width: 403px;
	height: 3.7em;
}

.food-price {
	margin-left: 10px;
}

.admin-restaurant-dishes-controls {
	margin-top: 30px;
}

.control-icon-plus {
	height: 16px;
	width: 17px;
	background: url(/assets/images/admin/plus.png);
}

.control-icon, .control-label {
	float: left;
}

.control-label {
	color: #395ca1;
	text-decoration: underline;
	margin-left: 10px;
	cursor: pointer;
}

.admin-food-item-delete {
	margin-top: 5px;
}

.admin-food-item-option-padding {
	margin: 0 0 4px 0;
}

.admin-food-item-option-padding:last-child {
	margin: 0;
}

input[name="dish-options-name"] {
	width: 300px;
}

input[name="dish-options-price"] {
	width: 50px;
}

.admin-food-item-option-padding .input-faker-content {
	margin-right: 5px;
}

.admin-dish-options-title {
	font-weight: bold;
	margin-bottom: 5px;
}

.admin-dish-options-wrapper {
	margin-bottom: 10px;
}

.admin-dish-options input[type="radio"], .admin-dish-options input[type="checkbox"] {
	margin: 2px 5px 0 5px;
}

.admin-restaurant-options-controls {
	margin-bottom: 15px;
}

.control-link {
	margin-left: 150px;
}

.control-link:first-child {
	margin: 0;
}

.dish-options-delete {
	display: block;
	height: 9px;
	width: 9px;
	background: url(/assets/images/admin/option-delete.png);
	float: right;
	margin: 4px 6px 0 0;
}

.admin-dish-options-wrapper .admin-food-item-option-padding:last-child .dish-options-delete {
	display: none;
}

.orders-loader {
	position: absolute;
	width: 997px;
	margin-top: 50px;
	text-align: center;
}

.admin-content-orders {
	min-height: 350px;
}

.admin-restaurant-item {
	width: 250px;
	float: left;
	margin: 0 20px 10px 0;
}

.admin-restaurant-button {
	text-decoration: none;
	margin-bottom: 10px;
}

.admin-restaurant-pay-form {
	width: 400px;
}