@font-face {
    font-family: 'Museo Slab';
    src: url('/assets/fonts/museo_slab_500-webfont.eot');
    src: url('/assets/fonts/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/museo_slab_500-webfont.woff') format('woff'),
         url('/assets/fonts/museo_slab_500-webfont.ttf') format('truetype'),
         url('/assets/fonts/museo_slab_500-webfont.svg#MuseoSlab500Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "Helvetica Neue", "Dosis", "Open Sans", Helvetica, Arial, Verdana, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: #d74924;
	text-decoration: underline;
}

::selection {
	background: rgba(47,154,211,.5);
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: rgba(47,154,211,.5);
	color: #fff;
	text-shadow: none;
}

:focus {
	outline: none;
}

body {
	background: url(/assets/images/landing-bg-tile.gif) repeat-x;
}

.wrapper {
	background: url(/assets/images/landing-bg.gif);
	min-height: 922px;
}

.content {
	background: url(/assets/images/landing-home.jpg) no-repeat;
	background-position: top center;
	width: 1024px;
	margin: 0 auto;
	min-height: 900px;
}

p {
	font-family: Museo Slab, Times New Roman, serif;
	max-width: 700px;
	text-shadow: 1px 0 3px rgba(80,17,12,.5);
	color: #fff;
	font-size: 18px;
	line-height: 25px;

}

.dotted {
	border-top: 1px dotted rgba(255,0,0,.4);
	border-bottom: 1px dotted rgba(255,255,255,.1);
	height: 0px;
	width: 80%;
	margin: 0 auto;
}

.logo {
	margin-top: 70px;
}

.tagline {
	margin-top: 23px;
}

.desc {
	margin-top: 40px;
}
.cake {
	margin-top: 60px;
}

.info-block-subwrapper {
	width: 300px;
}

a {
	font-family: Museo Slab, Times New Roman, serif;
	color: #fff;
	text-shadow: 1px 0 3px rgba(80,17,12,.5);
	text-decoration: underline;
	font-size: 18px;
}

@media only screen 
and (max-width : 1024px) {
	.content {
		width: 100%;
	}
}

@media only screen 
and (max-width : 500px) {
	.logo {
		width: 250px;
		margin-top: 15px;
	}
	.tagline {
		width: 230px;
		margin-top: 10px;
	}
	.cake {
		margin-top: 25px;
		width: 80px;
	}
	.desc {
		margin-top: 16px;
	}
	p {
		font-size: 14px;
		line-height: 20px;
		padding: 4px;
	}

	.info-block-subwrapper {
		width: 250px;
	}
}

.info-block {

	text-align: left;
	display: inline-block;
}

.divider {
	clear: both;
}

.info-block-container {
	text-align: center;
	max-width: 900px;
}

.info-block {
	vertical-align: top;
	margin-top: 20px;
	margin-right: 20px;
}

.info-block-tag, .info-block-info {
	font-family: Museo Slab, Times New Roman, serif;
	text-shadow: 1px 0 3px rgba(80,17,12,.5);
	color: #fff;
	line-height: 18px;
}

.info-block-tag {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}

.info-block-info {
	font-size: 12px;
}

.info-block-subwrapper, .info-block-icon {
	float: left;
}


.info-block-icon {
	margin-right: 10px;
}