html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 10px;
	color: #312f38;
	-webkit-transition: font-size 0.2s;
	background: #fffef8;
	letter-spacing: .5px;
}
body, input, textarea {
	font-family: "Open Sans", "Droid Sans", "Helvetica", "Arial", sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: #d74924;
	text-decoration: underline;
}

::selection {
	background: rgba(47,154,211,.5);
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: rgba(47,154,211,.5);
	color: #fff;
	text-shadow: none;
}


input[type="submit"]:focus, input[type="button"]:focus, input[type="text"]:focus, button, :focus {
	outline : none;
}
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, button::-moz-focus-inner {
	border : 0;
}

html {
	-webkit-text-size-adjust: none;
}

* {
	-webkit-tap-highlight-color: rgba(205,69,29,.5);
}

*:not(input, textarea) {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
}

.content {
	max-width: 767px;
	margin: 0 auto;
}

.content-padding {
	padding: 10px;
}

.logo {
	background: url(/assets/images/micro/crunchbutton-logo.svg) no-repeat;
	background-position: center center;
	width: 254px;
	height: 50px;
	background-size: 100%;
	margin: 0 auto;
	padding-top: 40px;
	-webkit-transition: all 0.2s;
}


.menu {
	background: url(/assets/images/micro/menu.svg) no-repeat;
	background-position: center center;
	width: 44px;
	height: 28px;
	background-size: 100%;
	float: left;
	margin: 31px 0 0 25px;
	-webkit-transition: all 0.2s;
}

/*
.animated {
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	transition: height 0.2s;
}
*/

::-webkit-input-placeholder {
	color: #858585;
}
:-moz-placeholder {
	color: #858585;
}
::-moz-placeholder {
	color: #858585;
}
:-ms-input-placeholder {
	color: #858585;
}




/* home location header */
.home-location {
	margin-top: 50px;
	width: 100%;
}
.home-location td {
	vertical-align: top;
}
.enter-location {
	border: 2px solid #003f35;
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
	font-size: 15px;
	padding: .5em 0 .5em .7em;
	margin: 0 0 15px 0;
	width: 100%;
	height: 20px;
}
.find-location {
	background: #00bd9e;
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
	border: 2px solid #003f35;
	font-size: 22px;
	padding: .2em;
	color: #fff;
	margin: 0 0 15px 0;
	width: 40px;
	height: 39px;
}
.home-top {
	background: url(/assets/images/micro/bg-sandwich.jpg);
	background-position: top right;
	background-size: 150%;
	padding: 0 0 60px 0;
}
.home-inputs {
	width: 300px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.logo-finger {
	background: url(/assets/images/micro/logo-finger.svg) no-repeat;
	background-position: center center;
	width: 78px;
	height: 88px;
	background-size: 100%;
	margin: 0 auto;
	padding-top: 100px;
}
.pushabutton {
	background: url(/assets/images/micro/push-a-button.svg) no-repeat;
	background-position: center center;
	width: 17em;
	height: 17em;
	background-size: 100%;
	margin: 0 auto;
	padding-top: 50px;
}
.divider-circle {
	background: url(/assets/images/micro/fork-knife-orange.svg) center center no-repeat;
	width: 6.5em;
	height: 6.5em;
	background-size: 100%;
	margin-top: -3.2em;
	margin-left:-3.2em;
    left: 50%;
    position: absolute;
}
h4 {
	font-weight: bold;
	font-size: 1.3em;
	line-height: 1.9em;
}
p {
	font-size: 1.2em;
	line-height: 1.55em;
}
.home-join-us {
	background: url(/assets/images/micro/home-join-us.svg) no-repeat;
	width: 25em;
	height: 20em;
	background-size: 100%;
	margin: 0 auto;
	margin-top: 50px;
}


/* BUTTONS */
.button {
	border: 0;
	padding: .6em 0 .6em 0;
	border-radius: 5px;
	cursor: pointer;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.3em;
	width: 100%;
	letter-spacing:-.8px;
	

	-webkit-transition:all linear 0.08s;
	-moz-transition:all linear 0.08s;
	-ms-transition:all linear 0.08s;
	-o-transition:all linear 0.08s;
	transition:all linear 0.08s;
}
.button.pushable.orange {
	box-shadow: 0 3px 0 #961500;
}
.button.pushable {
	margin-top: 0;
	margin-bottom: 3px;
}
.button.pushable:active {
	margin-top: 3px;
	margin-bottom:0;
	box-shadow: none;
}
.button.orange {
	background: #df4a32;
}
.button.lightorange {
	background: #fc9a6b;
	font-weight: 900;
}
.button.green {
	background: #00bd9e;
	font-weight: 900;
}
.button.lightorange:active {
	background: #e78d62;
}
.button.green:active {
	background: #00a58a;
}
.find-restaurants {
	font-size: 19px;
	max-width: 300px;
	padding: .9em 0 .9em 0;
	border-radius: 6px;
	letter-spacing: 0;
}


@media(min-width:500px) {
	body {
		font-size: 12px;
	}
}


@media(max-width:500px) {
	.logo {
		width: 190px;
		height: 37px;
	}
	.menu {
		margin: 25px 0 0 10px;
	}
}
