html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body, button {
	line-height: 1;
	font-family: "Open Sans", "Droid Sans", "Helvetica", "Arial", sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: #d74924;
	text-decoration: underline;
}

::selection {
	background: rgba(47,154,211,.5);
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: rgba(47,154,211,.5);
	color: #fff;
	text-shadow: none;
}

input[type="submit"]:focus, input[type="button"]:focus, input[type="text"]:focus, button, :focus {
	outline : none;
}
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, button::-moz-focus-inner {
	border : 0;
}

html {
	-webkit-text-size-adjust: none;
}

* {
	-webkit-tap-highlight-color: rgba(205,69,29,.5);
}
.pointer{
	cursor: pointer;
}
/**
 * account modal
 */
.modal .error, .modal .success, .modal .message{
	color: #ff0000;
	font-size: 12px;
	margin: 12px 0;
}
.modal .success{
	color: #333;
}
.modal .message{
	color: #333;
}
.modal button[disabled]{
	opacity: 0.5;
}
		.modal .header h1{
			float: left;
			width: 86px;
		}
			.modal .header .divisor{
				color:#d9d9d9;
				float: left;
				width: 10px;
			}

			.modal .header h1.active{
				font-weight: 600;
				text-shadow: none !important;
			}	

			.modal .header h1.link{
				color:#4168b8 !important;
				cursor: pointer;
				text-decoration: underline;
			}	
				.modal .header h1.signup{
					text-align: right !important;
				}


		.modal input {
			display: block;
			width: 98%;
			margin-bottom: 7px;
			margin-right: 6px;
			padding: 7px 3px 7px 3px;
			font-size: 13px;
			border: 1px solid #ddd;
			border-radius: 4px;
			font-weight: normal;
			font-family: Helvetica;
			background: #fff;
			color: #555;
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
			-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
			-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
			-o-transition: border linear 0.2s, box-shadow linear 0.2s;
			transition: border linear 0.2s, box-shadow linear 0.2s;
		}
		.modal input:focus {
			border-color:rgba(82, 168, 236, 0.8);
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
			-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
			outline:0;
			outline:thin dotted \9;
		}

		.modal .help-link{
			color: #666;
			display: block;
			cursor: pointer;
			float: left;
			font-size: 12px;
			margin-top: 12px;
			text-decoration: none;
		}
		.modal button, .add-password-button {
			border-radius: 4px;
			border: 1px solid #cb5921;
			padding: 6px 10px 6px 12px;
			color: #fff;
			font-size: 14px;
			display: block;
			float: right;
			margin-top: 3px;
			text-decoration: none;
			text-align: center;
			text-shadow: 1px 1px 0px rgba(0,0,0,.22);
			background: -moz-linear-gradient(#f57333, #f26926);
			background: -ms-linear-gradient(#f57333, #f26926);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f57333), color-stop(100%, #f26926));
			background: -webkit-linear-gradient(#f57333, #f26926);
			background: -o-linear-gradient(#f57333, #f26926);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f57333', endColorstr='#f26926');
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f57333', endColorstr='#f26926')";
			background: linear-gradient(#f57333, #f26926);
		}
			.add-password-button{
				float: none;
				margin: 10px auto;
				width: 150px;
			}
		.modal .bottom-links span{
			color: #4168b8;	
			cursor: pointer;
			text-decoration: underline;	
			margin:0 30px 0 0;
		}
		.modal .facebook{
			display: block !important;
			border-top: 1px solid #F5F5F5;
			margin-top: 10px;
			padding-top: 17px;
		}
		.modal .wait{
			color: #666;
			font-size: 13px;
			font-weight: 400;
			line-height: 18px;
			margin-top: 15px;
		}
		
/**
 * facebook button styling
 */
 .facebook{ display: none; } /* hack to dont show it at first page with ng-include */
.facebook-button {
	text-align: center;
	border-radius: 3px;
	border: 1px solid #2b4171;
	display: block;
	margin: 0 auto;
	padding: 0;
	text-shadow: 1px 1px 0px rgba(0,0,0,.75);
	background-color: #3c5a97;
	color: #fff;
	cursor: pointer;
	padding: 0 5px 0 5px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(64, 97, 159)),to(rgb(54, 82, 141)));
	background-image: -webkit-linear-gradient(top, rgb(64, 97, 159), rgb(54, 82, 141));
	background-image: -moz-linear-gradient(top, rgb(64, 97, 159), rgb(54, 82, 141));
	background-image: -o-linear-gradient(top, rgb(64, 97, 159), rgb(54, 82, 141));
	background-image: -ms-linear-gradient(top, rgb(64, 97, 159), rgb(54, 82, 141));
	background-image: linear-gradient(top, rgb(64, 97, 159), rgb(54, 82, 141));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#40619f', EndColorStr='#36528d');
	box-shadow: 0 2px 3px rgba(182, 182, 182, 0.75);
}
	.facebook-button .icon-facebook {
		margin-right: 7px;
		font-size: 20px;

	}
	.facebook-button .facebook-button-text {
		padding-left: 13px;
		border-left: 1px solid #2c4272;
		box-shadow: inset 1px 0 0 rgba(255,255,255,.1);
		padding-top: 7px;
	}


/**
 * support stuff
 */
.support-container {
	z-index: 150;
	position: fixed;
}
.support-minimized {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #831a01;
	border-bottom: none;
	bottom: 0;
	cursor: pointer;
	height: 18px;
	padding:6px 5px 3px 5px;
	position: fixed;
	right: 10px;
	width: 101px;
	background-color: #e84e1e;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(236, 101, 56)), to(rgb(228, 55, 5)));
	background-image: -webkit-linear-gradient(top, rgb(236, 101, 56), rgb(228, 55, 5));
	background-image: -moz-linear-gradient(top, rgb(236, 101, 56), rgb(228, 55, 5));
	background-image: -o-linear-gradient(top, rgb(236, 101, 56), rgb(228, 55, 5));
	background-image: -ms-linear-gradient(top, rgb(236, 101, 56), rgb(228, 55, 5));
	background-image: linear-gradient(top, rgb(236, 101, 56), rgb(228, 55, 5));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ec6538', EndColorStr='#e43705');
	box-shadow: 1px 1px 10px 5px rgba(221,221,221,1);
}
.support-icon {
	background: url( ../images/support-icon.png );
	float: left;
	height: 20px;
	margin: -2px 10px 0 0;
	width: 21px;
}
.support-title {
	color: #FFF;
	font-size: 13px;
	float: left;
	text-shadow: 1px 1px 1px #000;
}
.support-maximized {
	bottom: 0;
	position: fixed;
	right: 10px;
	width: 190px;
	box-shadow: 1px 1px 10px 5px rgba(221,221,221,1);
}
.support-maximized-header {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #831a01;
	cursor: pointer;
	height: 18px;
	padding:6px 5px 3px 5px;
	background: #333;
	background-color: #e84e1e;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(236, 101, 56)), to(rgb(228, 55, 5)));
	background-image: -webkit-linear-gradient(top, rgb(236, 101, 56), rgb(228, 55, 5));
	background-image: -moz-linear-gradient(top, rgb(236, 101, 56), rgb(228, 55, 5));
	background-image: -o-linear-gradient(top, rgb(236, 101, 56), rgb(228, 55, 5));
	background-image: -ms-linear-gradient(top, rgb(236, 101, 56), rgb(228, 55, 5));
	background-image: linear-gradient(top, rgb(236, 101, 56), rgb(228, 55, 5));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ec6538', EndColorStr='#e43705');
}
.support-maximized-content {
	background: #FFF;
	border-left: 1px solid #831a01;
	border-right: 1px solid #831a01;
	font-size:12px;
	padding:10px;
}
.support-maximized .divisor {
	border-top: 1px solid #CCC;
	margin: 10px 0;
}
.support-maximized label {
	display: block;
	font-size: 11px;
	padding-top: 3px;
}
.support-maximized input[type=text] {
	border: 1px solid #CCCC;
	width: 160px;
}
.support-maximized textarea {
	border: 1px solid #CCCC;
	height: 30px;
	margin-top: 4px;
	width: 160px;
}
.support-button {
	color: #fff;
	font-size:11px;
	text-shadow: 1px 1px 0px rgba(0,0,0,.22);
	border-radius: 4px;
	border: 1px solid #cb5921;
	padding: 6px;
	cursor: pointer;
	text-decoration: none;
	background: -moz-linear-gradient(#f57333, #f26926);
	background: -ms-linear-gradient(#f57333, #f26926);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f57333), color-stop(100%, #f26926));
	background: -webkit-linear-gradient(#f57333, #f26926);
	background: -o-linear-gradient(#f57333, #f26926);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f57333', endColorstr='#f26926');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f57333', endColorstr='#f26926')";
	background: linear-gradient(#f57333, #f26926);
	float: right;
	margin-top: 10px;
	margin-right: 3px;
}


/********
* Media queries
******/
@media only screen and (max-width : 1023px) {

}

@media only screen and (max-width : 769px) {

}

@media only screen and (min-width : 633px) and (max-width : 769px) {

}

@media only screen and (min-width : 770px) {

}

@media only screen and (min-width : 1024px) {

}

@media only screen and (min-width : 770px) and (max-width : 1023px) {
	
}



@media (max-width: 768px) {
	.visible-phone {
		display: block;
	}
	.hidden-phone {
		display: none;
	}
	.snap-content {
		box-shadow: 0 0 10px 3px rgba(0,0,0,.2);
	}
	.support-container {
		z-index: 1;
	}
	.support-minimized {
		left: 10px;
	}
	.support-maximized {
		left: 10px;
		/*
		left: 0;
		width: 100%;
		height: 100%;
		top: 0;
		bottom: 0;
		right: 0;
		*/
	}
	.support-container.support-container-maximized {
		/* z-index: 3; */
	}
}
@media (min-width: 769px) {
	.visible-desktop {
		display: block;
	}
	.hidden-desktop {
		display: none;
	}
}

@media only screen and (min-width : 1024px) {
	.signin-box-header {
		margin: 12px 0 0 10px;
	}
}


.snap-drawers {
	background: #3d3731;
	color: #eee;
	font-family: Helvetica, Arial, sans-serif;
}

.snap-drawer ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.snap-drawer li {
	display: block;
	border-bottom: 1px solid rgba(0,0,0, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	padding: 8px 0 2px 0;
	font-weight: bold;
	text-shadow: 0 1px 0 #000;
	text-decoration: none;
	color: #fff;
	text-indent: 20px;

}

.snap-drawer p {
	opacity: 0.5;
	padding: 15px;
	font-size: 12px;
}

.snap-content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto;
	z-index: 2;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translate3d(0, 0, 0);
	   -moz-transform: translate3d(0, 0, 0);
	    -ms-transform: translate3d(0, 0, 0);
	     -o-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}
/* Firefox doesnt need it - it crashes ff */
@-moz-document url-prefix() { 
	.snap-content{
		transform: none;		
	}
}
.snap-drawers {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto;
	overflow: hidden;
}

.snap-drawer {
	position: absolute;
	top: 0;
	right: auto;
	bottom: 0;
	left: auto;
	width: 265px;
	height: auto;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: width 0.3s ease;
	   -moz-transition: width 0.3s ease;
	    -ms-transition: width 0.3s ease;
	     -o-transition: width 0.3s ease;
	        transition: width 0.3s ease;
}

.snap-drawer-left {
	left: 0;
	z-index: 1;
}

.snap-drawer-right {
	right: 0;
	z-index: 1;
}

.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
	display: none;
}

.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
	width: 100%;
}



@media only screen and (max-width : 768px) {
	.signin-user {
		display: none;
	}
	.snap-content-inner {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: auto;
		height: auto;
		z-index: 3;
		overflow: auto;
		overflow-x:hidden;
		-webkit-overflow-scrolling: touch;
		-webkit-transform: translate3d(0, 0, 0);
		   -moz-transform: translate3d(0, 0, 0);
		    -ms-transform: translate3d(0, 0, 0);
		     -o-transform: translate3d(0, 0, 0);
		        transform: translate3d(0, 0, 0);
	}
	.menu-icon {
		background: url(../images/menu.png) no-repeat;
		background-size: contain;
		cursor: pointer;
		float: left;
		height: 30px;
		width: 45px;
		margin-top: -12px;
		margin-right: 10px;
	}
	.pushabutton-getfood {
		background: url(../images/pushabutton-getfood.png) no-repeat;
		background-size: 163px;
		height: 163px;
		width: 163px;
		margin: 0 auto;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.bg {
		background: #f5f5f5 url(../images/crisp_paper_ruffles-mobile.png);
		-webkit-transition: all linear 0.1s;
		   -moz-transition: all linear 0.1s;
		    -ms-transition: all linear 0.1s;
		     -o-transition: all linear 0.1s;
		        transition: all linear 0.1s;
	}
	.route-location .bg, .bg.route.location {
		background: #f5f5f5 url(../images/appbg/marlas-tacos.jpg);
	}

	.bottom-spacer{
		height: 50px;
	}

}


@media only screen and (min-width : 769px) {
	.bg {
		background: #f5f5f5 url(../images/groovepaper.png);
	}
	.main-content {
		margin-top: 70px;
	}
	.menu-icon {
		display: none;
	}
	.snap-content {
		position: relative;
	}
	.snap-drawers {
		display: none;
	}
}

.snap-drawer [class^="icon-"] {
	font-size: 25px;
}

.side-menu-icon {
	width: 60px;
}

.side-menu-label {
	margin-top: -10px;
	vertical-align: top;
	line-height: 1.6em;
	margin-bottom: 20px;
}

.side-menu-wrap {
	margin-left: -20px;
}

.side-menu-wrap {
	height: 28px;
}
