/* make sure hardware acceleration is on in case its not for some reason */
.animation-fade.ng-enter, .animation-fade.ng-leave,
.animation-push.ng-enter, .animation-push.ng-leave,
.animation-pop.ng-enter, .animation-pop.ng-leave {
	-webkit-transform: translateZ(0);
}
/* animation-fade stuff */
.animation-fade.ng-enter, .animation-fade.ng-leave {
	-webkit-transition: 0.31s cubic-bezier(.28,.01,.61,.98);
}
.animation-fade.ng-enter, .animation-fade.ng-leave.ng-leave-active {
	opacity:0;
}
.animation-fade.ng-leave, .animation-fade.ng-enter.ng-enter-active {
	opacity:1;
}

/* animation-push stuff */
.animation-push.ng-enter {
	-webkit-animation: 0.31s animation-push-enter cubic-bezier(.28,.01,.61,.98);
	position: absolute;
}

.animation-push.ng-leave {
	-webkit-animation: 0.31s animation-push-leave cubic-bezier(.28,.01,.61,.98);
	position: absolute;
}

@-webkit-keyframes animation-push-enter {
	from {
		-webkit-transform: translateX(300px);
		opacity:0;
	}
	to {
		-webkit-transform: translateX(0);
		opacity:1;
	}
}

@-webkit-keyframes animation-push-leave {
	from {
		-webkit-transform: translateX(0);
		opacity:1;
	}
	to {
		-webkit-transform: translateX(-300px);
		opacity:0;
	}
}

/* animation-pop stuff */
.animation-pop.ng-enter {
	-webkit-animation: 0.31s animation-pop-enter cubic-bezier(.28,.01,.61,.98);
	position: absolute;
}

.animation-pop.ng-leave {
	-webkit-animation: 0.31s animation-pop-leave cubic-bezier(.28,.01,.61,.98);
	position: absolute;
}
@-webkit-keyframes animation-pop-enter {
	from {
		-webkit-transform: translateX(-300px);
		opacity:0;
	}
	to {
		-webkit-transform: translateX(0);
		opacity:1;
	}
}
@-webkit-keyframes animation-pop-leave {
	from {
		-webkit-transform: translateX(0);
		opacity:1;
	}
	to {
		-webkit-transform: translateX(300px);
		opacity:0;
	}
}