/* animation-fade stuff */
.animation-fade.ng-enter, .animation-fade.ng-leave {
	-webkit-transition:0.5s linear all;
	transition:0.5s linear all;
}
.animation-fade.ng-enter, .animation-fade.ng-leave.ng-leave-active {
	opacity:0;
}
.animation-fade.ng-leave, .animation-fade.ng-enter.ng-enter-active {
	opacity:1;
}

/* animation-push stuff */
.animation-push.ng-enter {
	-webkit-animation: 0.5s animation-push-enter ease-out;
	animation: 0.5s animation-push-enter ease-out;
	position: absolute;
}

.animation-push.ng-leave {
	-webkit-animation: 0.5s animation-push-leave  ease-out;
	animation: 0.5s animation-push-leave ease-out;
	position: absolute;
}

@keyframes animation-push-enter {
	from {
		left:300px;
		opacity:0;
	}
	to {
		left:0;
		opacity:1;
	}
}

@-webkit-keyframes animation-push-enter {
	from {
		left:300px;
		opacity:0;
	}
	to {
		left:0;
		opacity:1;
	}
}

@keyframes animation-push-leave {
	from {
		left:0;
		opacity:1;
	}
	to {
		left:-300px;
		opacity:0;
	}
}

@-webkit-keyframes animation-push-leave {
	from {
		left:0;
		opacity:1;
	}
	to {
		left:-300px;
		opacity:0;
	}
}

/* animation-pop stuff */
.animation-pop.ng-enter {
	-webkit-animation: 0.5s animation-pop-enter ease-out;
	animation: 0.5s animation-pop-enter ease-out;
	position: absolute;
}

.animation-pop.ng-leave {
	-webkit-animation: 0.5s animation-pop-leave ease-out;
	animation: 0.5s animation-pop-leave ease-out;
	position: absolute;
}

@keyframes animation-pop-enter {
	from {
		left:-300px;
		opacity:0;
	}
	to {
		left:0;
		opacity:1;
	}
}

@-webkit-keyframes animation-pop-enter {
	from {
		left:-300px;
		opacity:0;
	}
	to {
		left:0;
		opacity:1;
	}
}

@keyframes animation-pop-leave {
	from {
		left:0;
		opacity:1;
	}
	to {
		left:300px;
		opacity:0;
	}
}

@-webkit-keyframes animation-pop-leave {
	from {
		left:0;
		opacity:1;
	}
	to {
		left:300px;
		opacity:0;
	}
}