html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "Helvetica Neue", "Dosis", "Open Sans", Helvetica, Arial, Verdana, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: #d74924;
	text-decoration: underline;
}

::selection {
	background: rgba(47,154,211,.5);
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: rgba(47,154,211,.5);
	color: #fff;
	text-shadow: none;
}

:focus {
	outline: none;
}

* {
	-webkit-tap-highlight-color: rgba(205,69,29,.5);
}

.button-bottom, .meal-item, .meal-item-content {
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
}


body {
	background: #f5f5f5 url(/assets/images/crisp_paper_ruffles.png);
	color: #666;
	font-size: 14px;
}

.header {
	background: #fff;
}

.nav {
	background: url(/assets/images/nav-web.png);
	height: 68px;
	background-size: 68px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
}

.meal-items {
	text-align: center;
}

.meal-item {
	display: inline-block;
	width: auto;
	height: 211px;
	margin-left: 16px;
	margin-bottom: 10px;
}

.meal-item-content {
	border: 1px solid #b6b6b6;
	border-radius: 5px;
	background: #f4f4f4;
	box-shadow: inset 0 0 2px #fafafa, 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
	width: 310px;
	height: 202px;
	padding: 2px;
	float: left;
	color: #7e7e7e;
	cursor: pointer;
	text-align: left;

	-webkit-transition-property: border;
	-webkit-transition-duration: .25s;
	-webkit-transition-timing-function: ease-out;
	
	-moz-transition-property: border;
	-moz-transition-duration: 1s;
	-moz-transition-timing-function: ease-out;
	
	-o-transition-property: border;
	-o-transition-duration: 1s;
	-o-transition-timing-function: ease-out;
	
	transition-property: border;
	transition-duration: 1s;
	transition-timing-function: ease-out;
}

.meal-pic {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	overflow: hidden;
	height: 145px;
	margin-bottom: 12px;
	background-size: 100%;
}

.restaurant-pic-wrapper {
	box-shadow: 0px 0px 6px rgba(0,0,0,.6);
	padding: 5px;
	width: 300px;
	float: right;
	background: #fff;
	display: none;
}

.restaurant-pic {
	overflow: hidden;
	height: 165px;
	background-size: 100%;
	width: 300px;
}

.meal-restaurant {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}

.meal-food {
	font-size: 15px;
}

.meal-restaurant, .meal-food {
	margin-left: 8px;
	margin-right: 8px;
	text-shadow: 1px 1px 0px rgba(255,255,255,.72);
}

.logo-img {
	width: 299px;
	height: 37px;
	background: url(/assets/images/logo-web.png) no-repeat;
	background-size: 100%;
}

.nav .content {
	padding-top: 9px;
}

.meal-item-down {
	margin-top: 2px;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
}

.restaurant-name {
	color: #d74924;
	font-size: 40px;
	margin: 15px 0 40px 0;
	font-weight: 100;
}

.home-tagline {
	color: #d74924;
	font-size: 50px;
	margin: 15px 0 40px 0;
	font-weight: 100;
}

.footer a {
	color: #666;
	margin: 5px;
}
.footer {
	margin-top: 50px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 25px;
	text-shadow: 1px 1px 0 rgba(255,255,255,1);
	margin-bottom: 10px;
}

.copyright {
	color: #999;
	font-size: 13px;
}

.main-content {
	text-shadow: 1px 1px 0 rgba(255,255,255,.6);
	min-height: 340px;
}

p {
	line-height: 20px;
	text-align: justify;
}

b {
	font-weight: bold;
}

.restaurant-item-title {
	text-transform: uppercase;
	color: #969696;
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 8px;
}

.resturant-dish-container li {
	color: #e3937d;
}

.resturant-dish-container {
	line-height: 1.4em;
	margin-bottom: 19px;
}

.cart-items {
	width: 310px;
	float: right;
}

.cart-item {
	padding: 10px;
	#background: #f6e5e0;
	background: rgba(249,216,206, .5);
	margin-bottom: 2px;
}

.cart-button {
	width: 14px;
	height: 14px;
	border-radius: 7px;
	background: #d74924;
	color: #fff;
	float: left;
	cursor: pointer;
}

.cart-item-name {
	float: left;
	margin-left: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.divider {
	clear: both;
}

.cart-item-customize-name {
	cursor: pointer;
	color: #d74924;
	text-decoration: underline;
	margin-left: 15px;
}

.cart-item-customize-price {
	color: #e3937d;
}

.cart-item-customize {
	margin: 10px 0 10px 15px;
}

.cart-item-customize-item {
	margin-bottom: 4px;
}

.cart-item-config {
	float: right;
}

.button-bottom {
	width: 310px;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px;	
	height: 45px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fb422e), to(#fb2418));
	border: 1px solid #ae4939;
	box-shadow:
		inset 0 0 6px rgba(255,254,196,.8),
		0px 2px 5px 0px rgba(0, 0, 0, 0.15)
	;
	cursor: pointer;
	border-radius: 4px;
	text-transform: uppercase;
	color: #fff4f3;
	font-size: 20px;
	font-weight: 600;
	text-shadow: -1px -1px 0px rgba(0,0,0,.2);
	
	-webkit-transition-property: box-shadow;
	-webkit-transition-duration: .2s;
	-webkit-transition-timing-function: ease-out;

}

.button-bottom:hover {
	box-shadow:
		inset 0 0 12px rgba(255,254,196,.8),
		0px 2px 5px 0px rgba(0, 0, 0, 0.15)
	;
}

.button-bottom-click {
	-webkit-transition-property: box-shadow;
	-webkit-transition-duration: .01s;
	-webkit-transition-timing-function: ease-out;


	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fb422e), to(#fb2418)) !important;
	box-shadow:
		inset 0 0 18px rgba(0,0,0,.2),
		inset 0 0 2px rgba(255,254,196,.9),
		0px 2px 5px 0px rgba(0, 0, 0, 0.15) !important
	;
}

.button-bottom-click div {
	padding-top: 2px;
}
.field-container {
	margin-bottom: 25px;
}

.restaurant-items {
	float: left;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.delivery-payment-info {
	line-height: 1.4em;
	text-align: center;
}

.dp-display-item:first-child {
	margin-left: 5px;
}

.dp-display-item:last-child {
	margin-right: 5px;
}

.dp-display-item {
	display: inline-block;
	width: auto;
	margin: 5px 14px 8px 14px;
	vertical-align: top;
	text-align: left;
}

.delivery-payment-info label {
	font-weight: bold;
}

.payment-card-info {
	margin-left: 125px;
	margin-bottom: 20px;
	font-size: 12px;
}

.payment-card-info img {
	margin-right: 5px;
}

.field-container input, .field-container textarea {
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;
	-moz-transition:border linear 0.2s,box-shadow linear 0.2s;
	-ms-transition:border linear 0.2s,box-shadow linear 0.2s;
	-o-transition:border linear 0.2s,box-shadow linear 0.2s;
	transition:border linear 0.2s,box-shadow linear 0.2s;
}
.field-container input:focus, .field-container textarea:focus {
	border-color:rgba(82, 168, 236, 0.8);
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
	outline:0;
	outline:thin dotted \9;
}


.field-container input, .field-container textarea {
	width: 200px;
}
.field-container input, .field-container textarea, .field-container select {
	overflow: auto;
	padding: 1px 3px 1px 3px;
	font-size: 13px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-weight: normal;
	font-family: Helvetica;
	background: #fff;
	color: #555;
}

.field-container textarea {
	height: 3em;
}

.field-container select {
	height: 2.2em;
	width: 100px;
	font-size: 12px;
	margin-right: 25px;
}

.delivery-info-container label, .payment-info-container label {
	float: left;
	text-align: right;
	width: 100px;
	font-weight: bold;
	font-size: 12px;
	margin-right: 25px;
}

.input-item {
	float: left;
	margin-bottom: 3px;
}

.field-container {
	width: 400px;
}

.payment-total {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 15px;
}

.toggle-active {
	color: #222;
	text-decoration: none;
	cursor: default;
	font-weight: bold;
}

.toggle-spacer {
	margin: 2px 12px 0 12px;
	color: #aaa;
	float: left;
	font-size: 12px;
}

.toggle-item {
	display: block;
	float: left;
}

.toggle-item:not(.toggle-active) {
	margin-top: 1px;
}
.personal-info .toggle-item {
	width: 54px;
}
.payment-info .toggle-item {
	width: 33px;
}



@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	.content {
		width: 320px;
		padding: 5px 0 12px 0;
	}

	.meal-item-content {
		width: 304px;
		height: 121px;
		margin-bottom: 6px;
	}
	
	.meal-item {
		height: 133px;
		margin-left: 0;
		margin-bottom: 2px;
	}

	.logo {
		margin: 0 auto;
	}

	.meal-pic {
		height: 80px;
		margin-bottom: 7px;
	}

	.meal-restaurant {
		font-size: 14px;
		margin-bottom: 3px;
	}

	.meal-food {
		font-size: 12px;
	}

	.meal-restaurant, .meal-food {
		margin-left: 4px;
	}

	.main-content {
		margin: 48px 5px 0 5px;
		min-height: 240px;
	}
	.nav {
		position: fixed;
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
		background: url(/assets/images/nav.png);
		height: 44px;
		background-size: 44px;
	}
	body {
		background: #fff url(/assets/images/bg.gif);
		background: #fff url(/assets/images/crisp_paper_ruffles-mobile.png);
		font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	}
	.logo-img {
		width: 184px;
		height: 24px;
		background: url(/assets/images/logo.png) no-repeat;
		background-size: 100%;
		margin-left: 70px;
	}
	.home-tagline {
		display: none;
	}
	.meal-pic {
		background-position: center center !important;
	}
	.restaurant-pic {
		height: 140px;
	}
	.footer {
		margin-top: 20px;
		text-shadow: 1px 1px 0 rgba(255,255,255,.6);
	}
	
	.restaurant-name {
		font-size: 25px;
		font-weight: 100;
	}
	.meal-item-down {
		border: 1px solid rgba(255,40,31,.8);
	}
}

@media only screen 
and (max-width : 1024px) {
	.home-tagline {
		text-align: center;
	}
	.restaurant-name {
		text-align: center;
	}
}

@media only screen 
and (min-width : 1024px) {
	.content {
		width: 1024px;
		margin: 0 auto;
		padding: 20px 0 20px 0;
	}
	
	.logo {
		margin-top: 6px;
	}

	.content-padder {
		background: rgba(250,164,118,.12);
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
		padding: 18px 18px 8px 18px;
	}
	.content-padder-before {
		background: rgba(238,127,33,.22);
		height: 8px;
		width: 100%;
		content: " ";
		border-top-right-radius: 8px;
		border-top-left-radius: 8px;
	}
	.footer {
		margin-bottom: 35px;
	}
	.meal-pic {
		background-position: center 40% !important;
	}
	.meal-item:nth-child(3n+1) {
		margin-left: 0px;
	}
	
	.content.short-meal-list {
		width: 690px;
	}
	.short-meal-list .meal-item:nth-child(2n+1) {
		margin-left: 0px;
	}

	.meal-item-content:hover {
		border: 1px solid rgba(255,40,31,.8);
	}

}
