/* animation-fade stuff */

.animation-fade.ng-enter, .animation-fade.ng-leave {
	position: absolute;

}
.animation-fade.ng-enter {
	z-index: 99998;

}
.animation-fade.ng-leave {
	z-index: 99999;
	-webkit-animation: 0.4s animation-fade-enter ease-out;
}

@-webkit-keyframes animation-fade-enter {
	from {
		opacity:1;
	}
	to {
		opacity:0;
	}
}


.ng-leave {
	/* opacity: 0; */
}

/* animation-blink */
.animation-blink{
	-webkit-animation: animation-blink 0.5s linear;
	-moz-animation: animation-blink 0.5s linear;
	animation: animation-blink 0.5s linear;
}
@keyframes animation-blink {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@-webkit-keyframes animation-blink {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

/* animation-push stuff */
/*
.animation-push.ng-enter {
	-webkit-animation: 0.31s animation-push-enter cubic-bezier(.28,.01,.61,.98);
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	@include gpu();
}
.animation-push.ng-leave {
	-webkit-animation: 0.31s animation-push-leave cubic-bezier(.28,.01,.61,.98);
	position: absolute;
	width: 100%;
	box-sizing: border-box;
}
*/


.animation-push.ng-enter, .animation-push.ng-leave, .animation-pop.ng-enter, .animation-pop.ng-leave {
	-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
	transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
}

.animation-push.ng-enter {
	-webkit-transform: translate3d(100%, 0, 0);
}
.animation-push.ng-enter.ng-enter-active {
	-webkit-transform: translate3d(0, 0, 0);
}
.animation-push.ng-leave.ng-leave-active {
	-webkit-transform: translate3d(-100%, 0, 0);
}

@-webkit-keyframes animation-push-enter {
	from {
		-webkit-transform: translateX(300px);
		opacity:0;
	}
	to {
		-webkit-transform: translateX(0);
		opacity:1;
	}
}

@-webkit-keyframes animation-push-leave {
	from {
		-webkit-transform: translateX(0);
		opacity:1;
	}
	to {
		-webkit-transform: translateX(-300px);
		opacity:0;
	}
}

/* animation-pop stuff */
/*
.animation-pop.ng-enter {
	-webkit-animation: 0.31s animation-pop-enter cubic-bezier(.28,.01,.61,.98);
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	@include gpu();
}

.animation-pop.ng-leave {
	-webkit-animation: 0.31s animation-pop-leave cubic-bezier(.28,.01,.61,.98);
	position: absolute;
	width: 100%;
	box-sizing: border-box;
}
*/
.animation-pop.ng-enter {
	-webkit-transform: translate3d(-100%, 0, 0);
}
.animation-pop.ng-enter.ng-enter-active {
	-webkit-transform: translate3d(0, 0, 0);
}
.animation-pop.ng-leave.ng-leave-active {
	-webkit-transform: translate3d(100%, 0, 0);
}
@-webkit-keyframes animation-pop-enter {
	from {
		-webkit-transform: translateX(-300px);
		opacity:0;
	}
	to {
		-webkit-transform: translateX(0);
		opacity:1;
	}
}
@-webkit-keyframes animation-pop-leave {
	from {
		-webkit-transform: translateX(0);
		opacity:1;
	}
	to {
		-webkit-transform: translateX(300px);
		opacity:0;
	}
}



/* some custom animated per page stuff */
.animation-fade.ng-leave .splash-top .logo {
	-webkit-transition: .2s ease-out;
	-webkit-transform: translateY(-30px);
}
