<?xml version="1.0"?>
<data version="1">
    <viewfilter>false</viewfilter>
    <timezone>America/Los_Angeles</timezone>
    <db>
        <live>
            <user>crunch</user>
            <pass>***REMOVED***</pass>
            <db>crunchbutton</db>
            <host>localhost</host>
            <prefix></prefix>
        </live>
        <beta>
            <user>crunch</user>
            <pass>***REMOVED***</pass>
            <db>crunchbutton</db>
            <host>localhost</host>
            <prefix></prefix>
        </beta>
		<local>
			<user>root</user>
			<pass>root</pass>
			<db>crunchbutton</db>
			<host>localhost</host>
			<prefix></prefix>	
		</local>
    </db>
	<defaults>
        <page>home</page>
        <layout>layout/html</layout>
        <version>default</version>
        <theme>crunchbutton</theme>
    </defaults>
    <facebook>
		<app></app>
		<secret></secret>
    </facebook>
    <stripe>
    	<dev>
    		<secret>***REMOVED***</secret>
    		<public>***REMOVED***</public>
    	</dev>
    	<live>
    		<secret>Mcr6bpPCOCLU8VmHEmMKIkTIHlbRcRrJ</secret>
    		<public>***REMOVED***</public>
    	</live>
    </stripe>
	<twilio>
		<live>
			<sid>_KEY_</sid>
			<token>_KEY_</token>
			<hostname>_DOMAIN_</hostname>
			<outgoing>+1_PHONE_</outgoing>
		</live>
		<dev>
			<sid>_KEY_</sid>
			<token>_KEY_</token>
			<outgoing>_PHONE_</outgoing>
		</dev>
		<testnumber>_PHONE_</testnumber>
	</twilio>
	<phaxio>
    	<key>_KEY_</key>
		<secret>_KEY_</secret>
	</phaxio>
	<phaxio2>
    	<key>_KEY_</key>
		<secret>_KEY_</secret>
	</phaxio2>
</data>