<?xml version="1.0"?>
<data version="1">
    <viewfilter>true</viewfilter>
    <bundle>false</bundle>
    <timezone>America/Los_Angeles</timezone>
    <cache>
    	<mysql>false</mysql>
    </cache>
    <imgCache>http://i._DOMAIN_/cache/</imgCache>
    <db>
        <live>
            <user>crunch</user>
            <pass>***REMOVED***</pass>
            <db>crunchbutton</db>
            <host>localhost</host>
            <prefix></prefix>
        </live>
        <beta>
            <user>crunch</user>
            <pass>***REMOVED***</pass>
            <db>crunchbutton_dev</db>
            <host>localhost</host>
            <prefix></prefix>
        </beta>
		<local>
			<user>root</user>
			<pass>root</pass>
			<db>crunchbutton</db>
			<host>localhost</host>
			<prefix></prefix>	
		</local>
    </db>
	<defaults>
        <page>home</page>
        <layout>layout/html</layout>
        <version>default</version>
        <theme>crunchbutton</theme>
    </defaults>
    <github>
    	<local>
			<id>_KEY_</id>
			<secret>_KEY_</secret>
		</local>
		<live>
			<id>_KEY_</id>
			<secret>_KEY_</secret>
		</live>
		<beta>
			<id>_KEY_</id>
			<secret>_KEY_</secret>
		</beta>
    </github>
    <facebook>
		<local>
			<app>***REMOVED***</app>
			<secret>***REMOVED***</secret>
		</local>
		<live>
			<app>_KEY_</app>
			<secret>_KEY_</secret>
		</live>
		<beta>
			<app>_KEY_</app>
			<secret>_KEY_</secret>
		</beta>
		<staging>
			<app>_KEY_</app>
			<secret>_KEY_</secret>
		</staging>
		<default>
			<scope>email</scope>
			<poststatus>
				<message>I just ordered awsome food!</message>
				<name>CrunchButton</name>
				<caption>Curated Online Food Ordering.</caption>
				<link>http://_DOMAIN_/</link>
				<description>Some awesome call to action message here!</description>
				<picture>http://_DOMAIN_/assets/images/appicon.png</picture>
				<site_name>CrunchButton</site_name>
				<site_url>http://_DOMAIN_/</site_url>
			</poststatus>
		</default>	
    </facebook>
    <phone>
    	<support>800-351-4161</support>
    	<restaurant>800-351-4161</restaurant>
    </phone>
    <text>
    	<Daniel>2037728167</Daniel>
    	<!-- <Devin>_PHONE_</Devin>
    	<Judd>_PHONE_</Judd>
    	<David>_PHONE_</David>
    	<Nick>_PHONE_</Nick> -->
    </text>
    <stripe>
    	<dev>
    		<secret>***REMOVED***</secret>
    		<public>***REMOVED***</public>
    	</dev>
    	<live>
    		<secret>***REMOVED***</secret>
    		<public>***REMOVED***</public>
    	</live>
    </stripe>
    <balanced>
    	<live>
    		<secret>***REMOVED***</secret>
    	</live>
    	<dev>
    		<secret>9d5c3d58fc5e11e1aa05026ba7c1aba6</secret>
    	</dev>
    	<sharedMerchant>_KEY_</sharedMerchant>
    </balanced>
	<suggestion>
		<dev>
			<phone>_PHONE_</phone>
			<phone>_PHONE_</phone>
			<phone>_PHONE_</phone>
		</dev>
		<live>
			<phone>_PHONE_</phone>
			<phone>_PHONE_</phone>
			<phone>_PHONE_</phone>
		</live>
	</suggestion>
	<support>
		<dev>
			<phone>_PHONE_</phone>
		</dev>
		<live>
			<phone>_PHONE_</phone>
		</live>
	</support>
	<twilio>
		<live>
			<sid>_KEY_</sid>
			<token>_KEY_</token>
			<hostname>_DOMAIN_</hostname>
			<outgoingTextCustomer>+1_PHONE_</outgoingTextCustomer>
			<outgoingTextRestaurant>+1_PHONE_</outgoingTextRestaurant>
			<outgoingCustomer>+18003514161</outgoingCustomer>
			<outgoingRestaurant>+18003514161</outgoingRestaurant>
		</live>
		<dev>
			<sid>_KEY_</sid>
			<token>_KEY_</token>
			<hostname>_DOMAIN_</hostname>
			<outgoingTextCustomer>+1_PHONE_</outgoingTextCustomer>
			<outgoingTextRestaurant>+1_PHONE_</outgoingTextRestaurant>
			<outgoingCustomer>+18003514161</outgoingCustomer>
			<outgoingRestaurant>+18003514161</outgoingRestaurant>
		</dev>
		<olddev>
			<sid>_KEY_</sid>
			<token>_KEY_</token>
			<sid>_KEY_</sid>
			<token>_KEY_</token>
			<outgoingTextCustomer>_PHONE_</outgoingTextCustomer>
			<outgoingTextRestaurant>_PHONE_</outgoingTextRestaurant>
			<outgoingCustomer>+18003514161</outgoingCustomer>
			<outgoingRestaurant>+18003514161</outgoingRestaurant>
		</olddev>
		<testnumber>***REMOVED***</testnumber><!-- _PHONE_ -->
		<voice>male</voice>
		<greeting>Hello. This is crunchbutton, </greeting>
		<maxcallback>5</maxcallback>
		<maxconfirmback>3</maxconfirmback>
		<warningOrderNotConfirmedTime>60000</warningOrderNotConfirmedTime><!-- 600000 -->
		<confirmTime>30000</confirmTime>
		<confirmFaxTime>20000</confirmFaxTime>
		<confirmTimeFaxReceived>300000</confirmTimeFaxReceived>
		<confirmTimeCallback>120000</confirmTimeCallback>
		<callbackTime>120000</callbackTime>
	</twilio>
	<phaxio>
		<old>
	    	<key>_KEY_</key>
			<secret>_KEY_</secret>
		</old>
		<live>
			<key>_KEY_</key>
			<secret>_KEY_</secret>
		</live>
		<dev>
			<key>_KEY_</key>
			<secret>_KEY_</secret>
		</dev>
	</phaxio>
	<crypt>
		<key>_KEY_</key>
	</crypt>
	<processor>balanced</processor>
</data>
