allow from all

RewriteEngine on
Options +Followsymlinks -Indexes

ReWriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
ReWriteRule .* - [F] 

RewriteCond %{REQUEST_FILENAME}        !-f
RewriteCond %{REQUEST_FILENAME}        !-d
RewriteRule ^(.+)$                    index.php?__url=$1 [L,QSA]



<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css)$">
Header set Cache-Control "max-age=290304000, public"
</FilesMatch>

AddType font/ttf .ttf
AddType font/eot .eot
AddType font/otf .otf
AddType font/woff .woff
AddType image/svg+xml .svg .svgz
