allow from all

RewriteEngine on
Options +Followsymlinks -Indexes



ReWriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
ReWriteRule .* - [F] 

RewriteCond %{REQUEST_FILENAME}        !-f
RewriteCond %{REQUEST_FILENAME}        !-d
RewriteRule ^(.+)$                    index.php?__url=$1 [L,QSA]



	AddDefaultCharset UTF-8

