
@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	-o-transform: $transforms;
	transform: $transforms;
}

@mixin transform-origin($transforms) {
	-webkit-transform-origin: $transforms;
	-moz-transform-origin: $transforms;
	-ms-transform-origin: $transforms;
	-o-transform-origin: $transforms;
	transform-origin: $transforms;
}

@mixin scale ($deg) {
	@include transform(scale($deg));
}

@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin appearance($appearance) {
	-webkit-appearance: $appearance;
	-moz-appearance: $appearance;
	appearance: $appearance;
}

@mixin text-size-adjust($size) {
	-webkit-text-size-adjust: $size;
	-moz-text-size-adjust: $size;
	-ms-text-size-adjust: $size;
	-o-text-size-adjust: $size;
	text-size-adjust: $size;
}

@mixin noselect() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

@mixin gpu() {
	@include transform(translate3d(0,0,0));
}

@mixin backface-visibility($visibility) {
	-webkit-backface-visibility: $visibility;
	-moz-backface-visibility: $visibility;
	-ms-backface-visibility: $visibility;
	-o-backface-visibility: $visibility;
	backface-visibility: $visibility;
}

@mixin keyframes($name){
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@-o-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

	
	
	
	
@mixin animation-duration($val) {
	-webkit-animation-duration: $val;
	-moz-animation-duration: $val;
	-ms-animation-duration: $val;
	-o-animation-duration: $val;
	animation-duration: $val;
}

@mixin animation-name ($name) {
	-webkit-animation-name: $name;
	-moz-animation-name: $name;
	-ms-animation-name: $name;
	-o-animation-name: $name;
	animation-name: $name;
}

@mixin animation-iteration-count ($count) {
	-webkit-animation-iteration-count: $count;
	-moz-animation-iteration-count: $count;
	-ms-animation-iteration-count: $count;
	-o-animation-iteration-count: $count;
	animation-iteration-count: $count;
}

@mixin animation-timing-function ($fn) {
	-webkit-animation-timing-function: $fn;
	-moz-animation-timing-function: $fn;
	-ms-animation-timing-function: $fn;
	-o-animation-timing-function: $fn;
	animation-timing-function: $fn;
}

@mixin animation($animation) {
	-webkit-animation: $animation;
	-moz-animation: $animation;
	-ms-animation: $animation;
	-o-animation: $animation;
	animation: $animation;
}

@mixin box-sizing ($size) {
	-webkit-box-sizing: $size;
	-moz-box-sizing: $size;
	-ms-box-sizing: $size;
	-o-box-sizing: $size;
	box-sizing: $size;
}

@mixin box-shadow ($shadow) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	-ms-box-shadow: $shadow;
	-o-box-shadow: $shadow;
	box-shadow: $shadow;
}