
.inline-spinner {
	opacity: 0;
	position: absolute;
	pointer-events: none;
	overflow: hidden;
	@include scale(2.5);
}
.inline-spinner-wrapper .inline-spinner, .inline-spinner-wrapper .inline-spinner-content {
	@include transition(all 0.2s);
}

.inline-spinner-wrapper.loading .inline-spinner {
	opacity: 1;
	@include scale(1);
}

.inline-spinner-wrapper.loading .inline-spinner-content {
	opacity: 0;
}

.location-detect .inline-spinner-user {
	margin-left: .6em;
	margin-top: -.1em;
	position: absolute;
}



/*
$spinner-color: #69717d !default;
$spinner-size: 50px !default;

@mixin absolute-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.overlay {
  background: rgba(black, 0.9);
  @include absolute-center;
}

.spinner {
  font-size: $spinner-size;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  &.center {
    @include absolute-center;
  }
  .spinner-blade {
    position: absolute;
    left: 0.4629em;
    bottom: 0;
    width: 0.074em;
    height: 0.2777em;
    border-radius: 0.5em;
    background-color: transparent;
    transform-origin: center -0.2222em;
    animation: spinner-fade 1s infinite linear;
    $animation-delay: 0s;
    $blade-rotation: 0deg;
    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        animation-delay: $animation-delay;
        transform: rotate($blade-rotation);
        $blade-rotation: $blade-rotation + 30;
        $animation-delay: $animation-delay + 0.083;
      }
    }
  }
}

@keyframes spinner-fade {
  0% {
    background-color: $spinner-color;
  }
  100% {
    background-color: transparent;
  }
}
*/
