body {

}
.preloader {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(https://d1f9xa61stkpgn.cloudfront.net/viztango-usc.jpg) center center no-repeat;
	-webkit-filter: brightness(0.6) contrast(125%);
	background-size:cover;
	position: fixed;
	z-index: 9999;
}
.html-body {
	display: none;
}
