.tag {
	@include box-border-radius();
	font-size: .8em;
	color: #fff;
	padding: .2em .4em .2em .4em;
}

.tag.tag-green {
	background: #1ab394;
}
.tag.tag-empty.tag-green {
	border: 1px solid #1ab394;
	color: #1ab394;
}

.tag.tag-darkgreen {
	background: #006633;
}
.tag.tag-empty.tag-darkgreen {
	border: 1px solid #006633;
	color: #006633;
}

.tag.tag-red {
	background: #eb5667;
}
.tag.tag-empty.tag-red {
	border: 1px solid #eb5667;
	color: #eb5667;
}

.tag.tag-orange {
	background: #f19161;
}
.tag.tag-empty.tag-orange {
	border: 1px solid #eb5667;
	color: #eb5667;
}

.tag.tag-blue {
	background: $buttonBlue;
}
.tag.tag-empty.tag-blue {
	border: 1px solid $buttonBlue;
	color: $buttonBlue;
}

.tag.tag-lightblue {
	background: #0099cc;
}
.tag.tag-empty.tag-lightblue {
	border: 1px solid #0099cc;
	color: #0099cc;
}

.tag.tag-grey {
	background: #666;
}
.tag.tag-empty.tag-grey {
	border: 1px solid #666;
	color: #666;
}

.tag.tag-lightgrey {
	background: #bbb;
}
.tag.tag-empty.tag-lightgrey {
	border: 1px solid #bbb;
	color: #bbb;
}

.tag.tag-purple {
	background: #c855b6;
}
.tag.tag-empty.tag-purple {
	border: 1px solid #c855b6;
	color: #c855b6;
}

.tag.tag-black {
	background: #000;
}
.tag.tag-empty.tag-black {
	border: 1px solid #000;
	color: #000;
}

.tag.tag-yellow {
	background: #999900;
}
.tag.tag-empty.tag-yellow {
	border: 1px solid #999900;
	color: #999900;
}

.tag.tag-empty {
	padding: .1em .3em .1em .3em;
	background: none;
}
