	.giftcard{
		text-align: center;
		width: 816px;
		margin: 0 auto;
	}
	img.flyer{
		width: 816px;
		height: 1050px;
	}
		.parachutes{
			width: 600px;
			position: absolute;
			margin-top: 250px;
			margin-left: 110px;
		}
		.value{
			font-family: 'Atomic Age', cursive;
			color:#FFF;
			font-size: 210px;
			position: absolute;
			z-index: 10;
			letter-spacing: -10px;
			margin-left: 50px;
			margin-top: 810px;
			text-align: center;
			width: 140px;
		}
		.dollar{
			color:#FFF;
			font-family: 'Atomic Age', cursive;
			font-size: 49px;
			font-weight: bold;
			position: absolute;
			z-index: 11;
			margin-left: 42px;
			margin-top: 897px;
			text-align: left;
			width: 220px;
		}
		.title{
			margin-left: 225px;
			margin-top: 858px;
			color: #eaeae9;
			font-family: 'Helvetica Neue', 'Helvetica';
			font-size: 35px;
			position: absolute;
			text-align: left;
		}
		.info{
			margin-left: 225px;
			margin-top: 905px;
			color:#FFF;
			font-family: 'Helvetica Neue', 'Helvetica';
			font-size: 28px;
			position: absolute;
			text-align: left;
		}
			.info .link{
				display: block;
				font-size: 26px;
				margin-top: 5px;
			}
		.call{
			width: 500px;
			margin-left: 275px;
			margin-top: 990px;
			color:#FFF;
			font-family: 'Helvetica Neue', 'Helvetica';
			font-size: 11px;
			position: absolute;
			text-align: right;
		}
			.page{
				page-break-after:always;
			}