<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Tests/bootstrap.php" colors="true">
	<logging>
		<log type="coverage-clover" target="../build/logs/clover.xml"/>
    </logging>

    <testsuites>
        <testsuite name="Crunchbutton Backend">
            <directory>./Tests/</directory>
			<exclude>./Tests/NOTAREALFILE/PriorityLogisticsTest.php</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">../include/</directory>
			<exclude>
				<directory>../include/Library/ApnsPHP</directory>
				<directory>../include/Library/Balanced</directory>
				<directory>../include/Library/Buzz</directory>
				<directory>../include/Library/Github</directory>
				<directory>../include/Library/Guzzle</directory>
				<directory>../include/Library/Httpful</directory>
				<directory>../include/Library/Mailgun</directory>
				<directory>../include/Library/Minify</directory>
				<directory>../include/Library/Ordrin</directory>
				<directory>../include/Library/Pear</directory>
				<directory>../include/Library/Predis</directory>
				<directory>../include/Library/QueryPath</directory>
				<directory>../include/Library/RESTful</directory>
				<directory>../include/Library/Scss</directory>
				<directory>../include/Library/Services</directory>
				<directory>../include/Library/Stripe</directory>
				<directory>../include/Library/Symfony</directory>
			</exclude>
        </whitelist>
    </filter>
</phpunit>